.box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.box h3 {
    margin-top: 0;
}

.ticket-main {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #388E3C;
}

.grid-item:hover {
    background-color: #e0e0e0; /* Slightly darker background */
    color: #333; /* Darker text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    transform: scale(1.05); /* Slightly enlarge the item */
    cursor: pointer;
}

.first-grid-container, .second-grid {
    margin: 10px;
    border-radius: 5px;
}

.first-grid-container p, .second-grid p{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.first-grid-container div , .second-grid-container div{
    margin: 10px;
}
.first-grid-container{
    background-color: rosybrown;
}

.second-grid{
    background-color: lightblue;
}

.second-grid-container {
    height: 75%;
    justify-content: center;
    display: flex; /* Use Flexbox layout */
    flex-direction: column; /* Align items vertically */
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .grid-container {
        display: block; /* Stack child sections vertically */
    }

    .first-grid-container,
    .second-grid {
        display: block; /* Ensure each container is displayed as a block */
        width: calc(100% - 20px); /* Full width of the parent container minus margin */
        margin: 10px auto; /* Center containers and add vertical margin */
        padding: 10px; /* Optional: Add padding inside the containers for extra space */
        box-sizing: border-box; /* Ensure padding is included in width calculation */
    }
}
